%h3= name
%p
  - if @snapshots.empty?
    Never snapshotted!
    = link_to "Snapshot.", snapshot_create_path, method: :post
  - else
    = "(#{@snapshots.size} snapshots)"
    Last snapshotted
    = @snapshots.last.created_at
%table.u-full-width.table-condensed
  %thead
    %tr
      %th Song
      %th Artist
      %th Album
  %tbody
    - tracks.each_with_index do |track, i|
      %tr(class="#{ diff_results.nil? ? "" : (diff_results[i] ? "add" : "del")}")
        %td= track.name
        %td= track_artists(track)
        %td= track.album.name
  %tfoot
    %tr
      %td(colspan="3")= "#{tracks.size} tracks found."
